/* * {
    color: #000;
} */

.row div {
    text-align: center;
}

.title {
    height: 4em;
}

.title div {
    font-size: 2.2em;
}

.time {
    height: 20em;
    display: flex;
}

.time div {
    font-size: 8em;
    margin: auto;
}

button {
    color: white;
}

all.h1{
    color: teal;
}

/* responsive */

@media(max-width: 1440px) {
    .load {
        margin: 0.1em 0em 0em 0.5em;
    }
}