*{
    color: #000;
}

.row div{
    text-align: center;
}

.title{
    height: 4em;
}

.title div{
    font-size: 2.2em;
}

.time{
    height: 20em;
    display: flex;
}

.time div{
    font-size: 8em;
    margin: auto;
}

button{
    color:white;
}