footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    height: 100vh;
    overflow: auto;
    padding-top: 2.5em;
    padding-bottom: 6em;
}