<div class="row content">
    <div class="col-6">
        <div class="card text-white">
            <div class="card-header bg-secondary">Chronometer</div>
            <div class="card-body bg-light">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-white">
            <div class="card-header bg-secondary">Controls</div>
            <div class="card-body bg-light">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>