<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="card text-white">
                <div class="card-header bg-secondary">Chronometer</div>
                <div class="card-body bg-light">
                    <app-display></app-display>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="card text-white">
                <div class="card-header bg-secondary">Controls</div>
                <div class="card-body bg-light">
                    <app-control></app-control>
                </div>
            </div>
        </div>
    </div>
</div>